body {
}

@font-face {
    font-family: 'avqestregular';
    src: url('../fonts/DIABLO.ttf') format('truetype');
}

@font-face {
    font-family: 'avqestheader';
    src: url('../fonts/DIABLO_H.ttf') format('truetype');
}

.d2font{
    font-family:"avqestregular";
    font-size:25px;
    font-weight: bold;
    /*text-shadow: 0 0 2px #000000;*/
    /*color: #c6b000;*/
    /*color: #a49200*/
}

h1.d2font{
    font-family:"avqestheader";
    font-size:40px;
    text-shadow: 0 0 5px #ff5e00;
    color: #000000;
}

input[type="submit"]{
    background-color: #555555;
    border: none;
    /*border-radius: 3px;*/
    color: white;
    padding: 8px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

    -webkit-transition-duration: 0.3s; /* Safari */
    transition-duration: 0.3s;
}
input[type="submit"]:hover{
    background-color:darkgray;
}

#ModsListDiv {
    color: #1820aa;
}

#ItemListDiv {
    font-weight: bold;
}

.d2divider {
     border-bottom: 1px solid #d2e6fc;
     border-top: 1px solid #d2e6fc;
     margin: 8px 0px 8px 0px;
}