USE [master]
GO
/****** Object:  Database [D2Items]    Script Date: 3/30/2017 12:39:26 PM ******/
CREATE DATABASE [D2Items]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'D2Items', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\D2Items.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'D2Items_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\D2Items_log.ldf' , SIZE = 3456KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [D2Items].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
/* For security reasons the login is created disabled and with a random password. */
/****** Object:  Login [wcf_api]    Script Date: 3/30/2017 12:39:26 PM ******/
CREATE LOGIN [wcf_api] WITH PASSWORD=N'bU7gOasjYE8yum1URNmlptjAYHoDn10/XCuKGiioB9I=', DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english], CHECK_EXPIRATION=OFF, CHECK_POLICY=OFF
GO
ALTER LOGIN [wcf_api] DISABLE
GO
/****** Object:  Login [NT SERVICE\Winmgmt]    Script Date: 3/30/2017 12:39:26 PM ******/
CREATE LOGIN [NT SERVICE\Winmgmt] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/****** Object:  Login [NT SERVICE\SQLWriter]    Script Date: 3/30/2017 12:39:26 PM ******/
CREATE LOGIN [NT SERVICE\SQLWriter] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/****** Object:  Login [NT Service\MSSQLSERVER]    Script Date: 3/30/2017 12:39:26 PM ******/
CREATE LOGIN [NT Service\MSSQLSERVER] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/****** Object:  Login [NT AUTHORITY\SYSTEM]    Script Date: 3/30/2017 12:39:26 PM ******/
CREATE LOGIN [NT AUTHORITY\SYSTEM] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/****** Object:  Login [DESKTOP-S20RLK9\msgra]    Script Date: 3/30/2017 12:39:26 PM ******/
CREATE LOGIN [DESKTOP-S20RLK9\msgra] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/****** Object:  Login [BUILTIN\Users]    Script Date: 3/30/2017 12:39:26 PM ******/
CREATE LOGIN [BUILTIN\Users] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/* For security reasons the login is created disabled and with a random password. */
/****** Object:  Login [##MS_PolicyTsqlExecutionLogin##]    Script Date: 3/30/2017 12:39:26 PM ******/
CREATE LOGIN [##MS_PolicyTsqlExecutionLogin##] WITH PASSWORD=N'F5VjtNXTQCw95+/l1fsES6vL8vsl3AfFKgSmx/oBHuU=', DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english], CHECK_EXPIRATION=OFF, CHECK_POLICY=ON
GO
ALTER LOGIN [##MS_PolicyTsqlExecutionLogin##] DISABLE
GO
/* For security reasons the login is created disabled and with a random password. */
/****** Object:  Login [##MS_PolicyEventProcessingLogin##]    Script Date: 3/30/2017 12:39:26 PM ******/
CREATE LOGIN [##MS_PolicyEventProcessingLogin##] WITH PASSWORD=N'EcbJUWazZCZN1SFTDoeIbaYHe0/Znu7QkO2PORTexOE=', DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english], CHECK_EXPIRATION=OFF, CHECK_POLICY=ON
GO
ALTER LOGIN [##MS_PolicyEventProcessingLogin##] DISABLE
GO
ALTER SERVER ROLE [sysadmin] ADD MEMBER [wcf_api]
GO
ALTER SERVER ROLE [dbcreator] ADD MEMBER [wcf_api]
GO
ALTER SERVER ROLE [sysadmin] ADD MEMBER [NT SERVICE\Winmgmt]
GO
ALTER SERVER ROLE [sysadmin] ADD MEMBER [NT SERVICE\SQLWriter]
GO
ALTER SERVER ROLE [sysadmin] ADD MEMBER [NT Service\MSSQLSERVER]
GO
ALTER SERVER ROLE [sysadmin] ADD MEMBER [DESKTOP-S20RLK9\msgra]
GO
USE [D2Items]
GO
/****** Object:  User [d2db]    Script Date: 3/30/2017 12:39:26 PM ******/
CREATE USER [d2db] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [d2db]
GO
ALTER ROLE [db_datareader] ADD MEMBER [d2db]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [d2db]
GO
/****** Object:  Table [dbo].[T_BaseTypes]    Script Date: 3/30/2017 12:39:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_BaseTypes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NOT NULL,
	[isMelee] [bit] NULL,
 CONSTRAINT [PK_T_Types] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[T_ItemMods]    Script Date: 3/30/2017 12:39:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_ItemMods](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[modID] [int] NOT NULL,
	[itemID] [int] NOT NULL,
	[value1] [float] NULL,
	[value2] [float] NULL,
	[skill] [varchar](20) NULL,
 CONSTRAINT [PK_T_ItemMods] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[T_Items]    Script Date: 3/30/2017 12:39:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_Items](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](30) NULL,
	[baseType1] [varchar](30) NULL,
	[baseType2] [varchar](30) NULL,
	[baseType3] [varchar](30) NULL,
	[quality] [int] NULL,
	[rarity] [int] NULL,
	[lvl] [int] NULL,
	[str] [int] NULL,
	[dex] [int] NULL,
	[sockets] [int] NULL,
	[version] [int] NULL,
	[ladder] [bit] NULL,
	[class] [varchar](25) NULL,
	[rune1] [varchar](5) NULL,
	[rune2] [varchar](5) NULL,
	[rune3] [varchar](5) NULL,
	[rune4] [varchar](5) NULL,
	[rune5] [varchar](5) NULL,
	[rune6] [varchar](5) NULL,
	[subType] [int] NULL,
 CONSTRAINT [PK_T_Items] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[T_ItemTypes]    Script Date: 3/30/2017 12:39:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_ItemTypes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[itemID] [int] NOT NULL,
	[baseTypeID] [int] NOT NULL,
 CONSTRAINT [PK_T_ItemTypes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[T_Mods]    Script Date: 3/30/2017 12:39:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_Mods](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NULL,
	[type] [varchar](25) NULL,
	[amountType] [varchar](20) NULL,
 CONSTRAINT [PK_T_Mods] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[T_Runes]    Script Date: 3/30/2017 12:39:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_Runes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NULL,
	[lvl] [int] NULL,
 CONSTRAINT [PK_T_Runes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[T_Skills]    Script Date: 3/30/2017 12:39:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_Skills](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NULL,
	[class] [varchar](20) NULL,
 CONSTRAINT [PK_T_Skills] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[T_SubTypes]    Script Date: 3/30/2017 12:39:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_SubTypes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](30) NULL,
	[baseType] [varchar](20) NULL,
	[quality] [int] NULL,
	[maxSockets] [int] NULL,
	[str] [int] NULL,
	[dex] [nchar](10) NULL,
	[class] [varchar](20) NULL,
	[lvl] [int] NULL,
 CONSTRAINT [PK_T_SubTypes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[T_BaseTypes] ON 

INSERT [dbo].[T_BaseTypes] ([ID], [name], [isMelee]) VALUES (1, N'Armor', 0)
INSERT [dbo].[T_BaseTypes] ([ID], [name], [isMelee]) VALUES (2, N'1H Axe', 1)
INSERT [dbo].[T_BaseTypes] ([ID], [name], [isMelee]) VALUES (3, N'2H Axe', 1)
SET IDENTITY_INSERT [dbo].[T_BaseTypes] OFF
SET IDENTITY_INSERT [dbo].[T_ItemMods] ON 

INSERT [dbo].[T_ItemMods] ([ID], [modID], [itemID], [value1], [value2], [skill]) VALUES (1, 10, 1, 50, NULL, NULL)
INSERT [dbo].[T_ItemMods] ([ID], [modID], [itemID], [value1], [value2], [skill]) VALUES (2, 20, 1, 48, NULL, NULL)
INSERT [dbo].[T_ItemMods] ([ID], [modID], [itemID], [value1], [value2], [skill]) VALUES (3, 22, 1, 48, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[T_ItemMods] OFF
SET IDENTITY_INSERT [dbo].[T_Items] ON 

INSERT [dbo].[T_Items] ([ID], [name], [baseType1], [baseType2], [baseType3], [quality], [rarity], [lvl], [str], [dex], [sockets], [version], [ladder], [class], [rune1], [rune2], [rune3], [rune4], [rune5], [rune6], [subType]) VALUES (1, N'Ancients Pledge', N'Shield', NULL, NULL, 0, 5, 21, 34, 0, 3, 9, 0, NULL, N'Ral', N'Ort', N'Tal', NULL, NULL, NULL, NULL)
INSERT [dbo].[T_Items] ([ID], [name], [baseType1], [baseType2], [baseType3], [quality], [rarity], [lvl], [str], [dex], [sockets], [version], [ladder], [class], [rune1], [rune2], [rune3], [rune4], [rune5], [rune6], [subType]) VALUES (2, N'Black', N'1H Club', N'2H Hammer', N'1H Mace', 0, 5, 35, 36, 0, 3, 9, 0, NULL, N'Thul', N'Io', N'Nef', NULL, NULL, NULL, NULL)
INSERT [dbo].[T_Items] ([ID], [name], [baseType1], [baseType2], [baseType3], [quality], [rarity], [lvl], [str], [dex], [sockets], [version], [ladder], [class], [rune1], [rune2], [rune3], [rune4], [rune5], [rune6], [subType]) VALUES (3, N'Fury', N'Melee Weapons', NULL, NULL, 0, 5, 65, NULL, 0, 3, 9, 0, NULL, N'Jah', N'Gul', N'Eth', NULL, NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[T_Items] OFF
SET IDENTITY_INSERT [dbo].[T_ItemTypes] ON 

INSERT [dbo].[T_ItemTypes] ([ID], [itemID], [baseTypeID]) VALUES (2, 1, 15)
INSERT [dbo].[T_ItemTypes] ([ID], [itemID], [baseTypeID]) VALUES (3, 2, 26)
INSERT [dbo].[T_ItemTypes] ([ID], [itemID], [baseTypeID]) VALUES (4, 3, 25)
GO
SET IDENTITY_INSERT [dbo].[T_ItemTypes] OFF
SET IDENTITY_INSERT [dbo].[T_Mods] ON 

INSERT [dbo].[T_Mods] ([ID], [name], [type], [amountType]) VALUES (1, N'% Attack Rating', N'Attack Bonus', N'percent')
INSERT [dbo].[T_Mods] ([ID], [name], [type], [amountType]) VALUES (2, N'Attack Rating per Level', N'Attack Bonus', N'toLevel')
INSERT [dbo].[T_Mods] ([ID], [name], [type], [amountType]) VALUES (3, N'Attack Rating', N'Attack Bonus', N'whole')
GO
SET IDENTITY_INSERT [dbo].[T_Mods] OFF
SET IDENTITY_INSERT [dbo].[T_Runes] ON 

INSERT [dbo].[T_Runes] ([ID], [name], [lvl]) VALUES (1, N'El', 11)
INSERT [dbo].[T_Runes] ([ID], [name], [lvl]) VALUES (2, N'Eld', 11)
INSERT [dbo].[T_Runes] ([ID], [name], [lvl]) VALUES (3, N'Tir', 13)
SET IDENTITY_INSERT [dbo].[T_Runes] OFF
SET IDENTITY_INSERT [dbo].[T_Skills] ON 

INSERT [dbo].[T_Skills] ([ID], [name], [class]) VALUES (1, N'Magic Arrow', N'Amazon')
INSERT [dbo].[T_Skills] ([ID], [name], [class]) VALUES (2, N'Fire Arrow', N'Amazon')
INSERT [dbo].[T_Skills] ([ID], [name], [class]) VALUES (3, N'Inner Strike', N'Amazon')
GO
SET IDENTITY_INSERT [dbo].[T_Skills] OFF
SET IDENTITY_INSERT [dbo].[T_SubTypes] ON 

INSERT [dbo].[T_SubTypes] ([ID], [name], [baseType], [quality], [maxSockets], [str], [dex], [class], [lvl]) VALUES (1, N'Quilted Armor', N'Armor', 0, 2, 12, NULL, NULL, NULL)
INSERT [dbo].[T_SubTypes] ([ID], [name], [baseType], [quality], [maxSockets], [str], [dex], [class], [lvl]) VALUES (2, N'Leather Armor', N'Armor', 0, 2, 15, NULL, NULL, NULL)
INSERT [dbo].[T_SubTypes] ([ID], [name], [baseType], [quality], [maxSockets], [str], [dex], [class], [lvl]) VALUES (3, N'Hard Leather Armor', N'Armor', 0, 2, 20, NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[T_SubTypes] OFF
ALTER TABLE [dbo].[T_ItemMods]  WITH CHECK ADD  CONSTRAINT [FK_T_ItemMods_T_Items] FOREIGN KEY([itemID])
REFERENCES [dbo].[T_Items] ([ID])
GO
ALTER TABLE [dbo].[T_ItemMods] CHECK CONSTRAINT [FK_T_ItemMods_T_Items]
GO
ALTER TABLE [dbo].[T_ItemMods]  WITH CHECK ADD  CONSTRAINT [FK_T_ItemMods_T_Mods] FOREIGN KEY([modID])
REFERENCES [dbo].[T_Mods] ([ID])
GO
ALTER TABLE [dbo].[T_ItemMods] CHECK CONSTRAINT [FK_T_ItemMods_T_Mods]
GO
USE [master]
GO
